/* Sidebar */
.col-md-3 .category-sidebar {
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.price-range h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.price-range ul {
    list-style-type: none;
    padding-left: 0;
}

.price-range ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 0;
    display: block;
}

.price-range ul li a:hover {
    color: #007bff;
}

/* Nội dung sản phẩm */
.featured-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card-container {
    width: 100%;
    padding: 15px;
}

.product-card {
    // background-color: white;
    // border-radius: 8px;
    // box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    // overflow: hidden;
    // transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

// .product-image {
//     position: relative;
//     overflow: hidden;
//     border-radius: 8px;
//     background-color: #f4f4f4;
// }

// .product-image img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     transition: transform 0.3s ease;
// }

.product-image:hover img {
    transform: scale(1.1);
}

// .product-icons {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     display: flex;
//     gap: 10px;
// }

// .product-icons .icon {
//     background-color: rgba(0, 0, 0, 0.5);
//     color: #fff;
//     padding: 5px;
//     border-radius: 50%;
//     font-size: 18px;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
// }

.product-icons .icon:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.product-info {
    margin-top: 15px;
    text-align: center;
}

// .product-title {
//     font-size: 1.2rem;
//     font-weight: bold;
//     color: #333;
//     margin-bottom: 10px;
// }

.product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.new-price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #d9534f;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .product-image {
        height: 200px;
    }

    .product-title {
        font-size: 1rem;
    }

    .new-price {
        font-size: 1.2rem;
    }
}
