/* Dashboard page */
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.cardBox .card{
    position: relative;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.cardBox .card .numbers{
    position: relative;
    font-size: 2em;
    font-weight: 500;
}
.cardBox .card .cardName{
    color: #999;
}
.cardBox .card .iconBox{
    font-size: 2.5em;
    color: #03a9f4;
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
}
.details .recentOrders{
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
}
.btn{
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}
.details .recentOrders table tr{
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.details .recentOrders table tbody tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover{
    background: #03a9f4;
    color: #fff;
}
.details .recentOrders table tr td{
    padding: 9px 5px;
}
.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child{
    text-align: right;
}
.details .recentOrders table thead tr td:nth-child(2),
.details .recentOrders table tbody tr td:nth-child(2){
    text-align: center;
    padding-right: 20px;
}
.status{
    position: relative;
    padding: 2px 4px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.delivered{
    background: #8de02c;
}
.pending{
    background: #f9ca3f;
}
.return{
    background: #f00;
}
.inprogress{
    background: #1795ce;
}
.details .recentCustomers{
    position: relative;
    display: grid;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}
.details .recentCustomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.details .recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details .recentCustomers table tr:hover td h4 span,
.details .recentCustomers table tr:hover{
    background: #03a9f4;
    color: #fff;
}
.details .recentCustomers table tr td{
    padding: 7px 10px;
}
.details .recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.details .recentCustomers table tr td h4 span{
    font-size: 14px;
    color: #999;
}

/* Responsive */

@media (max-width: 992px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        width: calc(100% - 300px);
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2{
        font-weight: 600;
        font-size: 18px;
    }
}
@media (max-width: 480px){
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .details .recentOrders{
        overflow-x: auto;
    }
    .details .recentOrders table{
        width: 600px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle.active{
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;
    }
    .toggle.active .fa-bars::before{
        color: #fff;
    }
    .main,
    .main.active{
        width: 100%;
        left: 0;
    }
}