/* Product table */
.product-table{
    position: relative;
    width: 100%;
    padding: 20px;
}
.product-table .inside-table{
    position: relative;
    width: 100%;
    padding: 20px;
    background: #fff;
}
.product-table .inside-table .productHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.product-table .inside-table .productHeader .add-product{
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #3a8dfb, #4fb8ff, #63d4ff);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.product-table .inside-table .productHeader .excel-btn{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #16A34A, #22C55E, #4ADE80);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#search-form{
    width: 50%;
    margin: 20px 0;
    border-radius: 5px;
    margin-bottom: 1rem;
}
#selection-box{
    width: 200px;
    margin: 20px 20px 20px 0;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 16px;
}
.search-container{
    display: flex;
    gap: 15px;
}
#search{
    width: 50%;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
}
.search-btn{
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.reset-btn{
    display: inline-block;
    padding: 5px 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #FF3D00, #FF6D00);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.product-table .inside-table .productHeader h2{
    font-size: 30px;
    font-weight: 600;
}
.cancel-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.cancel-btn::before {
    content: "←"; /* Unicode cho mũi tên trái */
    font-size: 18px;
    margin-right: 8px;
}
.product-table .inside-table table{
    width: 100%;
    border-collapse: separate; /* Phải dùng separate thay vì collapse */
    border-spacing: 0; /* Loại bỏ khoảng cách giữa các ô */
    margin-top: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}
.no-data{
    text-align: center;
}
.product-table .inside-table table tr td{
    padding: 9px 5px;
    text-align: center;
}
.product-table .inside-table thead tr td:first-child {
    border-top-left-radius: 10px;
}
.product-table .inside-table thead tr td:last-child {
    border-top-right-radius: 10px;
}
.product-table .inside-table table thead td{
    font-weight: 600;
    text-align: center;
    background: #003147;
    color: white;
}
.product-table .inside-table table tbody tr td{
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.product-table .inside-table table tbody tr:last-child td{
    border-bottom: none;
}
/* Dấu + thêm dưới góc ảnh */
.image-container {
    position: relative;
    display: inline-block;
}

.view-more {
    position: absolute;
    bottom: 5px;
    right: 1px;
    background: black;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 2px 6px;
    border-radius: 5px;
    display: block;
}
/* Làm mô tả ngắn lại */
.mo-ta {
    width: 200px;             /* Định nghĩa chiều rộng cụ thể */
    white-space: nowrap;      /* Không xuống dòng */
    overflow: hidden;         /* Ẩn phần vượt quá */
    text-overflow: ellipsis;  /* Thêm dấu "..." khi vượt quá */
}
/* Nút hoạt động (view, edit, delete) */
.view-btn{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin: 3px 3px;
    background: linear-gradient(135deg, #FFC107, #FFD54F);
    color: #7A4F00;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.edit-btn{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin: 3px 3px;
    background: linear-gradient(135deg, #2196F3, #21CBF3);
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.delete-btn{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin: 3px 3px;
    background: linear-gradient(135deg, #FF3D00, #FF6D00);
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
/* Form tạo sản phẩm mới */
form {
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
}
.form-group{
    margin-bottom: 1rem;
}
.form-label{
    font-size: 18px;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
/* Danh sách các danh mục của sản phẩm */
.list-category{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.list-category input{
    width: calc(100% / 5);
    text-align: center;
}
/* Danh mục được chọn */
.chk-box-category{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.add-btn{
    display: inline-block;
    margin: 10px 50%;
    padding: 5px 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #16A34A, #22C55E, #4ADE80);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
/* Tooltip (note chức năng của nút hoạt động) */
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.button-container a {
    text-decoration: none;
}
.icon-btn{
    display: flex;
}
.tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}
.view-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.edit-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.delete-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
/* Hiển thị hình ảnh trang view product */
.image-container{
    display: flex;
    flex-wrap: wrap; /* Cho phép xuống hàng khi không đủ chỗ */
    gap: 30px;
}
.image-frame {
    width: 150px;
    height: auto; /* Để giữ tỉ lệ ảnh */
    border: 2px solid #ccc; /* Viền khung */
    padding: 5px; /* Khoảng cách bên trong khung */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Cắt phần dư của ảnh nếu có */
    position: relative;
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh luôn lấp đầy khung */
}
/* Cho phép chọn hình ảnh */
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 10px 0;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
}
.frame i{
    margin: 0 5px;
}
.frame span{
    font-size: 18px;
}
input[type="file"] {
    display: none;
}
/* Cho xem trước hình ảnh */
#imagePreview {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#imgPreview {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
/* Nút xóa ảnh */
.remove-all-img{
    display: none;
    width: 150px;
    margin: 10px 20px;
    font-size: 17px;
    border: 1px solid #000;
    background: white;
    cursor: pointer;
    text-align: center;
}
.remove-img{
    display: block;
    width: 150px;
    margin: 10px 20px;
    font-size: 17px;
    border: 1px solid #000;
    background: white;
    cursor: pointer;
    text-align: center;
}
/* Delete Popup */
.delete-popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;
    display: none;
}
.delete-popup.active{
    display: flex;
}
.delete-popup .popup{
    width: 100%;
    position: relative;
    background: #fff;
    max-width: 30%;
    animation: modalShow 0.5s linear;
}
.delete-popup .popup .popup-head{
    padding: 20px;
    padding-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
.delete-popup .popup .popup-head .popup-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    border: 0;
    cursor: pointer;
}
.delete-popup .popup .popup-head .popup-close-btn:hover{
    opacity: 0.6;
}
.delete-popup .popup .popup-body{
    padding: 20px;
    font-size: 18px;
    line-height: 20px;
}
.delete-popup .popup .popup-foot{
    display: flex;
}
.delete-popup .popup .popup-foot .popup-btn{
    width: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.delete-popup .popup .popup-foot .popup-cancel-btn{
    background: #f00;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.delete-popup .popup .popup-foot .popup-cancel-btn:hover{
    opacity: 0.7;
}
.delete-popup .popup .popup-foot .popup-confirm-btn{
    background: #00c06d;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.delete-popup .popup .popup-foot .popup-confirm-btn:hover{
    opacity: 0.7;
}
@keyframes modalShow {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}