/* Statistic table */
.statistic-table{
    position: relative;
    width: 100%;
    padding: 20px;
}
.statistic-table .inside-table{
    position: relative;
    width: 100%;
    padding: 20px;
    background: #fff;
}
.statistic-table .inside-table .statisticHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statistic-table .inside-table .statisticHeader .excel-statistic{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #16A34A, #22C55E, #4ADE80);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.statistic-table .inside-table .statisticHeader .reset-btn{
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #FF3D00, #FF6D00);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.statistic-table .inside-table .statisticHeader h2{
    font-size: 30px;
    font-weight: 600;
}
.cancel-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.cancel-btn::before {
    content: "←"; /* Unicode cho mũi tên trái */
    font-size: 18px;
    margin-right: 8px;
}
.search-container{
    display: flex;
    margin: 15px 0;
    font-size: 16px;
    gap: 30px;
}
select{
    width: 160px;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 0;
}
label{
    font-size: 16px;
}
.search-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.statistic-table .inside-table .statistic-table-list{
    width: 100%;
    border-collapse: separate; /* Phải dùng separate thay vì collapse */
    border-spacing: 0; /* Loại bỏ khoảng cách giữa các ô */
    margin-top: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}
.no-data{
    text-align: center;
}
.statistic-table .inside-table .statistic-table-list tr td{
    padding: 9px 5px;
    text-align: center;
}
.statistic-table .inside-table thead tr td:first-child {
    border-top-left-radius: 10px;
}
.statistic-table .inside-table thead tr td:last-child {
    border-top-right-radius: 10px;
}
.statistic-table .inside-table .statistic-table-list thead td{
    font-weight: 600;
    text-align: center;
    background: #003147;
    color: white;
}
.statistic-table .inside-table .statistic-table-list tbody tr td{
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
/* .statistic-table .inside-table .statistic-table-list tbody tr:last-child td{
    border-bottom: none;
} */
.delivered{
    position: relative;
    padding: 2px 10px;
    color: #8de02c;
    background: rgba(144, 238, 144, 0.15);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.pending{
    position: relative;
    padding: 2px 10px;
    color: #FFD700;
    background: rgba(255, 255, 102, 0.15);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.view-btn{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin: 3px 3px;
    background: linear-gradient(135deg, #FFC107, #FFD54F);
    color: #7A4F00;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.edit-btn{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin: 3px 3px;
    background: linear-gradient(135deg, #2196F3, #21CBF3);
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.button-container a {
    text-decoration: none;
}
.icon-btn{
    display: flex;
}
.tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}
.view-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.edit-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}