<style>

</style>

<<<<<<< HEAD
<!-- PHẦN 1: KHỐI TÌM KIẾM (LUÔN HIỂN THỊ) -->
<div class="search-bar-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light hd-color">
    <div class="container-fluid">
      <div class="row align-items-center col-12 navbar-icon">
        <div class="col-2">
          <a class="navbar-brand" href="#"><img src="/img/logo.jpg" alt=""></a>
        </div>
        <div class="col-7">
          <form class="search-form" action="/search" method="GET">
            <input class="form-control search-input" name="q" type="search" placeholder="Tìm kiếm sản phẩm..." />
            <button class="btn search-button" type="submit">Tìm kiếm</button>
          </form>
        </div>
        <div class="col-3 text-end">
          <a href="">Đăng ký</a>
          <a href="">Đăng nhập</a>
        </div>
=======
      <!-- Đăng ký / Đăng nhập -->
      <div class="col-3 text-end">
        <a href="/user/account">Trang cá nhân  </a>
        <a href="/user/logout">Đăng xuất </a>
>>>>>>> 658a1fdda7f5be070220fd37fb699492e5d4dcd1
      </div>
    </div>
  </nav>
</div>

<!-- PHẦN 2: KHỐI DANH MỤC (ẨN/HIỆN THEO CUỘN) -->
<div class="menu-bar-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" id="openMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 hd-color">
          <li class="nav-item"><a class="nav-link active" href="#">Trang chủ</a></li>
          <li class="nav-item dropdown hd-color d-none d-lg-block">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Danh mục sách</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{#each categories}}
              <li><a class="dropdown-item" href="/category/{{this.DanhMucID}}">{{this.TenDanhMuc}}</a></li>
              {{/each}}
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/category">Sản phẩm</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Giới thiệu</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Sidebar menu chính -->
<div id="sidebar" class="sidebar">
  <button id="closeMenu" class="close-btn">✖</button>
  <ul>
    <li><a href="#">Giới thiệu</a></li>
    <li><a href="#" id="openCategories">Danh mục sách</a></li>
    <li><a href="/category">Sản phẩm</a></li>
  </ul>
</div>

<!-- Danh mục con -->
<div id="categorySidebar" class="sidebar">
  <button id="closeCategoryMenu" class="close-btn">← Quay lại</button>
  <h2>Danh Mục Sách</h2>
  <ul>
    {{#each categories}}
      <li><a href="/category/{{this.DanhMucID}}">{{this.TenDanhMuc}}</a></li>
    {{/each}}
  </ul>
</div>
