<div class="sidebar">
  <ul>
    <li>
      <a href="/">
        <span></span>
        <span><h1>BOOK STORE</h1></span>
      </a>
    </li>
    <li class="active">
      <a href="/">
        <span><i class="fas fa-home"></i></span>
        <span>Tổng Quan</span>
      </a>
    </li>
    {{! <li>
        <a href="#">
          <span><i class="fas fa-gifts"></i></span>
          <span>Sản Phẩm</span>
        </a>
      </li> }}
    <li>
      <a href="./orders/show">
        <span><i class="fas fa-shopping-cart"></i></span>
        <span>Đơn Hàng</span>
      </a>
    </li>
    <li>
      <a href="./statistic">
        <span><i class="fas fa-chart-bar"></i></span>
        <span>Thống Kê</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span><i class="fas fa-sign-out-alt"></i></span>
        <span>Đăng Xuất</span>
      </a>
    </li>
  </ul>
</div>