<div class="navigation">
  <ul>
    <li>
      <a href="/admin">
        <span class="icon" style="min-width: 55px;"></span>
        <span class="title"><h1>STORE</h1></span>
      </a>
    </li>
    <li>
      <a href="/admin">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="title">Tổng Quan</span>
      </a>
    </li>
    
    {{#if (contains permissions "admin")}}
    <li>
      <a href="/admin/permissions">
        <span class="icon"><i class="fas fa-hands"></i></span>
        <span class="title">Nhóm Quyền</span>
      </a>
    </li>
    <li>
      <a href="/admin/accounts">
        <span class="icon"><i class="fas fa-address-book"></i></span>
        <span class="title">Tài Khoản</span>
      </a>
    </li>
    <li>
      <a href="/admin/employees">
        <span class="icon"><i class="fas fa-users-cog"></i></span>
        <span class="title">Nhân Viên</span>
      </a>
    </li>
    {{/if}}
    
    {{#if (or (contains permissions "admin") (contains permissions "qldoanhnghiep") (contains permissions "khachhang") (contains permissions "qlbanhang"))}}
    <li>
      <a href="/admin/customers">
        <span class="icon"><i class="fas fa-users"></i></span>
        <span class="title">Khách Hàng</span>
      </a>
    </li>
    {{/if}}
    
    {{#if (or (contains permissions "admin") (contains permissions "qldoanhnghiep") (contains permissions "qlsanpham") (contains permissions "qlkho"))}}
    <li>
      <a href="/admin/product">
        <span class="icon"><i class="fas fa-gifts"></i></span>
        <span class="title">Sản Phẩm</span>
      </a>
    </li>
    {{/if}}
    
    {{#if (or (contains permissions "admin") (contains permissions "qldoanhnghiep") (contains permissions "qldanhmuc") (contains permissions "qlkho"))}}
    <li>
      <a href="/admin/category">
        <span class="icon"><i class="fas fa-clipboard-list"></i></span>
        <span class="title">Danh Mục</span>
      </a>
    </li>
    {{/if}}
    
    {{#if (or (contains permissions "admin") (contains permissions "qldoanhnghiep") (contains permissions "qlncc") (contains permissions "qlkho"))}}
    <li>
      <a href="/admin/provider">
        <span class="icon"><i class="fas fa-warehouse"></i></span>
        <span class="title">Nhà Cung Cấp</span>
      </a>
    </li>
    {{/if}}
    
    {{#if (or (contains permissions "admin") (contains permissions "qldoanhnghiep") (contains permissions "qlhdn") (contains permissions "qlkho"))}}
    <li>
      <a href="/admin/receipt">
        <span class="icon"><i class="fas fa-file-invoice-dollar"></i></span>
        <span class="title">Hóa Đơn Nhập</span>
      </a>
    </li>
    {{/if}}
    
    {{#if (or (contains permissions "admin") (contains permissions "qldoanhnghiep") (contains permissions "qlhdx") (contains permissions "qlbanhang"))}}
    <li>
      <a href="/admin/orders">
        <span class="icon"><i class="fas fa-file-invoice"></i></span>
        <span class="title">Hóa Đơn Bán</span>
      </a>
    </li>
    {{/if}}
    
    {{#if (or (contains permissions "admin") (contains permissions "qldoanhnghiep") (contains permissions "qlthongke") (contains permissions "qlthongkexuat") (contains permissions "qlkho") (contains permissions "qlbanhang"))}}
    <li>
      <a href="/admin/statistic">
        <span class="icon"><i class="fas fa-chart-bar"></i></span>
        <span class="title">Thống Kê</span>
      </a>
    </li>
    {{/if}}
    
    <li>
      <a href="/admin/logout">
        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
        <span class="title">Đăng Xuất</span>
      </a>
    </li>
  </ul>
</div>