<div class="navigation">
  <ul>
    <li>
      <a href="/">
        <span class="icon" style="min-width: 55px;"></span>
        <span class="title"><h1>STORE</h1></span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="title">Tổng Quan</span>
      </a>
    </li>
    <li>
      <a href="permissions">
        <span class="icon"><i class="fas fa-hands"></i></span>
        <span class="title">Nhóm Quyền</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="icon"><i class="fas fa-address-book"></i></span>
        <span class="title">Tài Khoản</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="icon"><i class="fas fa-users-cog"></i></span>
        <span class="title">Nhân Viên</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="icon"><i class="fas fa-users"></i></span>
        <span class="title">Khách Hàng</span>
      </a>
    </li>
    <li>
      <a href="/product">
        <span class="icon"><i class="fas fa-gifts"></i></span>
        <span class="title">Sản Phẩm</span>
      </a>
    </li>
    <li>
      <a href="/category">
        <span class="icon"><i class="fas fa-clipboard-list"></i></span>
        <span class="title">Danh Mục</span>
      </a>
    </li>
    <li>
      <a href="/provider">
        <span class="icon"><i class="fas fa-warehouse"></i></span>
        <span class="title">Nhà Cung Cấp</span>
      </a>
    </li>
    <li>
      <a href="/receipt">
        <span class="icon"><i class="fas fa-file-invoice-dollar"></i></span>
        <span class="title">Hóa Đơn Nhập</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="icon"><i class="fas fa-file-invoice"></i></span>
        <span class="title">Hóa Đơn Bán</span>
      </a>
    </li>
    <li>
      <a href="/statistic">
        <span class="icon"><i class="fas fa-chart-bar"></i></span>
        <span class="title">Thống Kê</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
        <span class="title">Đăng Xuất</span>
      </a>
    </li>
  </ul>
</div>