<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Lỗi máy chủ</title>
  </head>
  <body>
    <h1>500 - Có lỗi xảy ra</h1>
    <p>Hệ thống hiện tại đang gặp sự cố, vui lòng thử lại sau.</p>
  </body>
</html>