<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/pdDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<style>
  html, body {
  overflow-x: visible;
  overflow-y: visible;
}
</style>
<body>
  {{>header}} 
  <main style="padding-top: 0;"> 
    {{{body}}}
  </main>
  <footer>
    {{>footer}}
  </footer>

  

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const searchBar = document.querySelector('.search-bar-wrapper');
    const menuBar = document.querySelector('.menu-bar-wrapper');

    if (searchBar && menuBar) {
      const height = searchBar.offsetHeight;
      menuBar.style.top = `${height}px`; 
    }

    // Phần xử lý ẩn/hiện khi cuộn
    let lastScrollTop = 0;
    window.addEventListener('scroll', () => {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > lastScrollTop && scrollTop > 100) {
        menuBar.classList.add('hide-on-scroll');
      } else if (scrollTop < lastScrollTop) {
        menuBar.classList.remove('hide-on-scroll');
      }

      lastScrollTop = scrollTop;
    });
  });
</script>
         <script
            src="/js/jquery-3.7.1.min.js"
          ></script>

          <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

 <script>
  document.querySelectorAll(".icon-add-cart").forEach((item) => {
  item.addEventListener("click", function (event) {
  
    event.preventDefault();

    const productId = this.getAttribute("data-id");

    const isLoggedIn = {{isLoggedIn}}; 

    if (isLoggedIn) {
     
      addToCart(productId);

    } else {
   
      alert("Vui lòng đăng nhập để thêm sản phẩm vào giỏ hàng!");
     
      window.location.href = "/user/account";
    }
  });
});



</script>
<script src="/js/site.js"></script>

 <script src="/js/layout.js"></script>

</body>


</html>

