<html lang="en" style="width: 100%;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/output.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->  
    <link rel="stylesheet" href="/css/sales/output.css">
    {{{_blocks.css}}}
    {{{_blocks.js}}}
  </head>
  <body>
    <div class="sales-container">
    {{>salesmenu}}

    {{{body}}}
    </div>

  </body>
</html>