{{#block "css"}}
  <link rel="stylesheet" href="/css/warehouse/category.css" />
{{/block}}

<div class="category-table">
  <div class="inside-table">
    <div class="categoryHeader">
      <h2>Thêm Danh Mục Mới</h2>
      <a href="../"><button class="cancel-btn">Quay lại</button></a>
    </div>

    <form action="store" method="post">
      <div class="form-group">
        <label for="name" class="form-label">Tên Danh Mục</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>
      <button class="add-btn" type="submit">Thêm</button>
    </form>

  </div>
</div>