{{#block "css"}}
  <link rel="stylesheet" href="/css/warehouse/product.css" />
{{/block}}

{{#block "js"}}
  <script src="/js/warehouse/product.js"></script>
{{/block}}

<div class="product-table">
  <div class="inside-table">
    <div class="productHeader">
      <h2>Thêm Sản Phẩm Mới</h2>
      <a href="../"><button class="cancel-btn">Quay lại</button></a>
    </div>

    <form action="warehouse/product/store" method="post">
      <div class="form-group">
        <label for="name" class="form-label">Tên Sản Phẩm</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>
      <div class="form-group">
        <label for="author" class="form-label">Tác Giả</label>
        <input
          type="text"
          class="form-control"
          id="author"
          name="author"
          required
        />
      </div>
      <div class="form-group">
        <label for="publisher" class="form-label">Nhà Xuất Bản</label>
        <input
          type="text"
          class="form-control"
          id="publisher"
          name="publisher"
          required
        />
      </div>
      <div class="form-group">
        <label for="category" class="form-label">Danh Mục</label>
        <div class="chk-box-category">
          {{#each category}}
            <label>
              <input
                type="checkbox"
                name="category"
                id="category"
                value="{{this.DanhMucID}}"
              />
              {{this.TenDanhMuc}}
            </label>
          {{/each}}
        </div>
      </div>
      <div class="form-group">
        <label for="price" class="form-label">Giá</label>
        <input
          type="text"
          class="form-control"
          id="price"
          name="price"
          required
        />
      </div>
      <div class="form-group">
        <label for="inventory" class="form-label">Số Lượng Tồn</label>
        <input
          type="text"
          class="form-control"
          id="inventory"
          name="inventory"
          required
        />
      </div>
      <div class="form-group">
        <label for="pages" class="form-label">Số Trang</label>
        <input
          type="text"
          class="form-control"
          id="pages"
          name="pages"
          required
        />
      </div>
      <div class="form-group">
        <label for="description" class="form-label">Mô Tả</label>
        <textarea
          class="form-control"
          name="description"
          id="description"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-label">Hình Ảnh</label>
        <div style="display: flex;">
          <label for="imageUpload" class="frame">
            <i class="fas fa-camera"></i>
            <span>Thêm ảnh</span>
          </label>
          <button id="clearAllImages" class="remove-all-img" type="button">
            <i class="fas fa-trash-alt"></i>
            <span>Xóa Tất Cả</span>
          </button>
          <input type="file" id="imageUpload" accept="image/*" multiple />
          <input type="hidden" id="imageBase64" name="imageBase64" />
        </div>
        <div id="imagePreview"></div>
      </div>
      <button class="add-btn" type="submit">Thêm</button>
    </form>

  </div>
</div>