{{#block "css"}}
  <link rel="stylesheet" href="/css/warehouse/provider.css" />
{{/block}}

<div class="provider-table">
  <div class="inside-table">
    <div class="providerHeader">
      <h2>Thêm Nhà Cung Cấp Mới</h2>
      <a href="/admin/warehouse/provider"><button class="cancel-btn">Quay lại</button></a>
    </div>

    <form method="post" action="/admin/warehouse/provider/store">
      <div class="form-group">
        <label for="name" class="form-label">Tên Nhà Cung Cấp</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>
      <div class="form-group">
        <label for="phone" class="form-label">Số Điện Thoại</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          required
        />
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="street" class="form-label">Số Nhà, Đường</label>
        <input
          type="text"
          class="form-control"
          id="street"
          name="street"
          required
        />
      </div>
      <div class="form-group">
        <label for="ward" class="form-label">Phường, Xã</label>
        <input
          type="text"
          class="form-control"
          id="ward"
          name="ward"
          required
        />
      </div>
      <div class="form-group">
        <label for="district" class="form-label">Quận, Huyện</label>
        <input
          type="text"
          class="form-control"
          id="district"
          name="district"
          required
        />
      </div>
      <div class="form-group">
        <label for="city" class="form-label">Tỉnh, Thành Phố</label>
        <input
          type="text"
          class="form-control"
          id="city"
          name="city"
          required
        />
      </div>
      <button class="add-btn" type="submit">Thêm</button>
    </form>

  </div>
</div>